.totalMoney {
  width: 80%;
  border: 1px solid #e9ecef;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  align-items: baseline;
  padding-right: 20px;
  color: #fd377e;
  font-weight: 700;
}

.labelTotalMoney {
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: #212529;
}

.labelTotalMoney span {
  margin-top: 10px;
  font-size: 12px;
  color: #5b6166;
  font-weight: lighter;
}
